@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

body {
  background-color:  #6b9cc5b6 !important;
}

.App {
  text-align: center;
}

.heading-main {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: fixed;
  margin-left: 38%;
}

.room-heading {
  font-family: 'Oswald', sans-serif;
}

.rooms-list {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100vh;
  overflow: auto;
}

form {
  margin-left: 12%;
}

form button {
  margin-right: 14%;
}

.room-num {
  display: block;
  padding: 16px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
}

.room-num.selected {
  background-color: #4CAF50;
  color: white;
}

.room-num:hover:not(.active) {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 700px) {
  .rooms-list {
    width: 100%;
    height: auto;
    position: relative;
  }
  .room-num {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .room-num {
    text-align: center;
    float: none;
  }
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}

.label {
  /* position: absolute; */
  /* top: 16px; */
  left: 0;
  font-size: 16px;
  color: #9098A9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all .2s ease;
  font-family: 'Oswald', sans-serif;
}

.border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #0077FF;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all .15s ease;
}

.inp-box {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 5px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #C8CCD4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all .15s ease;
  margin-top: 10px;
}

.inp-box:hover {
  background: rgba(#223254,.03);
}

.sub {
  -moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
  margin-top: 10px;
}

.sub:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}

.sub:active {
  position:relative;
	top:1px;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 37%;
  width: 25%;
  font-family: 'Amatic SC', cursive;
}

.username {
  font-family: 'Libre Baskerville', serif;
}

.message-box {
  padding-top: 10%;
}

.new-message {
  left: 0;
  font-size: 20px;
  color: rgb(121, 127, 141);
  font-weight: 500;
  transform-origin: 0 0;
  transition: all .2s ease;
  font-family: 'Oswald', sans-serif;
  margin-right: 10px;
}

.message {
  -webkit-appearance: none;
  width: 10%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 5px;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 2px solid #C8CCD4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all .15s ease;
  margin-top: 10px;
}

.form-group {
  margin-right: 225px;
}
